.vs/Master-crawler/CopilotIndices/17.13.439.2385/CodeChunks.db
.vs/Master-crawler/CopilotIndices/17.13.439.2385/SemanticSymbols.db
.vs/Master-crawler/FileContentIndex/05ee125b-40c0-42a9-811c-9d43fccea03a.vsidx
.vs/Master-crawler/v17/DocumentLayout.json
.vs/Master-crawler/v17/.wsuo
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
